body{
    background-color: rgb(230, 228, 228);
}
p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
}
h2{
    font-style: italic;
}
h4{
    font-style: italic;
}